.article-viewer-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F4F6F7 !important;
}

.article-content {
    flex: 1;
    margin: 0 20%; 
    max-width: 90%; 
}